# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 파이썬 실행환경

1. 파이썬을 실행합니다. python, IPython, 주피터랩(JupyterLab) 등 어떠한 파이썬 실행환경을 사용해도 무관합니다.

   본 튜토리얼에서는 주피터랩을 사용하는 것을 가정하였습니다. 
   주피터랩의 설치 및 실행에 대해서는 해당 웹사이트([https://jupyter.org/](https://jupyter.org/){target="_blank})를 참조해 주세요.

## 3.2 `kquant` 패키지 임포트

2. `kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

## 3.3 주식 ISIN 코드와 단축코드

3. 주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

   국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

   `kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.
   
   `symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [2]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,코스닥
2,HK0000295359,900260,로스웰,Rothwell,코스닥
3,HK0000307485,900290,GRT,GRT,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,코스닥
...,...,...,...,...,...
"3,719",KYG2114A1094,900120,씨케이에이치,CKH,코스닥
"3,720",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,코스닥
"3,721",KYG3931T1076,900070,글로벌에스엠,GSMT,코스닥
"3,722",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,유가증권
"3,723",USU652221081,900100,애머릿지,Ameridge,코스닥

4. 종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [3]:
kq.search_symbol_stock("한국").head(5)

           ISIN  SYMBOL            NAME            NAME_EN    MARKET
0  KR7000240002  000240    한국앤컴퍼니  HANKOOK & COMPANY  유가증권
1  KR7000970004  000970      한국주철관    KorCastIronPipe  유가증권
2  KR7002200004  002200    한국수출포장      KorExptPkgInd  유가증권
3  KR7002960003  002960      한국쉘석유    HankookShellOil  유가증권
4  KR7003350006  003350  한국화장품제조     HKCManufacture  유가증권

## 3.4 일간 주가정보

5. 원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
6. 일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
   첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

   두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

   세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,CHG,CHG_PCT,CHG_TYPE,VOLUME,...,MARKETCAP,SHARES,EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ
0,2023-01-02,005930,"55,500","56,100","55,200","55,500",200,0.3600,2,"10,031,448",...,"331,322,931,525,000","5,969,782,550",00,"55,500","56,100","55,200","55,500",200,0.3600,2
1,2023-01-03,005930,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"13,547,030",...,"330,725,953,270,000","5,969,782,550",00,"55,400","56,000","54,500","55,400",-100,-0.1800,5
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"20,188,071",...,"345,053,431,390,000","5,969,782,550",00,"55,700","58,000","55,600","57,800","2,400",4.3300,2
3,2023-01-05,005930,"58,200","58,800","57,600","58,200",400,0.6900,2,"15,682,826",...,"347,441,344,410,000","5,969,782,550",00,"58,200","58,800","57,600","58,200",400,0.6900,2
4,2023-01-06,005930,"58,300","59,400","57,900","59,000",800,1.3700,2,"17,334,989",...,"352,217,170,450,000","5,969,782,550",00,"58,300","59,400","57,900","59,000",800,1.3700,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400",800,1.1200,2,"10,541,901",...,"432,212,256,620,000","5,969,782,550",00,"71,700","72,500","71,500","72,400",800,1.1200,2
119,2023-06-27,005930,"72,500","72,600","72,000","72,600",200,0.2800,2,"9,442,997",...,"433,406,213,130,000","5,969,782,550",00,"72,500","72,600","72,000","72,600",200,0.2800,2
120,2023-06-28,005930,"72,600","72,700","72,000","72,700",100,0.1400,2,"8,783,093",...,"434,003,191,385,000","5,969,782,550",00,"72,600","72,700","72,000","72,700",100,0.1400,2
121,2023-06-29,005930,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"12,229,967",...,"432,212,256,620,000","5,969,782,550",00,"73,100","73,400","72,400","72,400",-300,-0.4100,5
122,2023-06-30,005930,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"11,694,765",...,"431,018,300,110,000","5,969,782,550",00,"72,500","72,700","71,700","72,200",-200,-0.2800,5

7. `end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 예를 들어 2023년 7월 11일 장중에  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [5]:
# 2023년 7월 11일 장중에 실행한 경우
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,CHG,CHG_PCT,CHG_TYPE,VOLUME,...,MARKETCAP,SHARES,EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ
0,2023-01-02,005930,"55,500","56,100","55,200","55,500",200,0.3600,2,"10,031,448",...,"331,322,931,525,000","5,969,782,550",00,"55,500","56,100","55,200","55,500",200,0.3600,2
1,2023-01-03,005930,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"13,547,030",...,"330,725,953,270,000","5,969,782,550",00,"55,400","56,000","54,500","55,400",-100,-0.1800,5
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"20,188,071",...,"345,053,431,390,000","5,969,782,550",00,"55,700","58,000","55,600","57,800","2,400",4.3300,2
3,2023-01-05,005930,"58,200","58,800","57,600","58,200",400,0.6900,2,"15,682,826",...,"347,441,344,410,000","5,969,782,550",00,"58,200","58,800","57,600","58,200",400,0.6900,2
4,2023-01-06,005930,"58,300","59,400","57,900","59,000",800,1.3700,2,"17,334,989",...,"352,217,170,450,000","5,969,782,550",00,"58,300","59,400","57,900","59,000",800,1.3700,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2023-07-05,005930,"73,000","73,300","71,900","72,000","-1,000",-1.3700,5,"12,310,610",...,"429,824,343,600,000","5,969,782,550",00,"73,000","73,300","71,900","72,000","-1,000",-1.3700,5
126,2023-07-06,005930,"71,900","72,400","71,500","71,600",-400,-0.5600,5,"14,777,667",...,"427,436,430,580,000","5,969,782,550",00,"71,900","72,400","71,500","71,600",-400,-0.5600,5
127,2023-07-07,005930,"71,100","71,400","69,800","69,900","-1,700",-2.3700,5,"17,308,877",...,"417,287,800,245,000","5,969,782,550",00,"71,100","71,400","69,800","69,900","-1,700",-2.3700,5
128,2023-07-10,005930,"70,000","70,400","69,200","69,500",-400,-0.5700,5,"11,713,926",...,"414,899,887,225,000","5,969,782,550",00,"70,000","70,400","69,200","69,500",-400,-0.5700,5
129,2023-07-11,005930,"70,200","71,400","70,100","71,300","1,800",2.5900,2,"10,276,301",...,"425,645,495,815,000","5,969,782,550",00,"70,200","71,400","70,100","71,300","1,800",2.5900,2

7. `start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. `start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [6]:
# 2023년 7월 11일 장중에 실행한 경우
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,CHG,CHG_PCT,CHG_TYPE,VOLUME,...,MARKETCAP,SHARES,EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ
0,2022-07-11,005930,"59,300","59,600","58,700","58,800",100,0.1700,2,"13,042,624",...,"351,023,213,940,000","5,969,782,550",00,"59,300","59,600","58,700","58,800",100,0.1700,2
1,2022-07-12,005930,"58,600","58,700","58,100","58,100",-700,-1.1900,5,"9,336,061",...,"346,844,366,155,000","5,969,782,550",00,"58,600","58,700","58,100","58,100",-700,-1.1900,5
2,2022-07-13,005930,"58,300","58,600","58,000","58,000",-100,-0.1700,5,"10,841,315",...,"346,247,387,900,000","5,969,782,550",00,"58,300","58,600","58,000","58,000",-100,-0.1700,5
3,2022-07-14,005930,"57,500","58,200","57,400","57,500",-500,-0.8600,5,"15,067,012",...,"343,262,496,625,000","5,969,782,550",00,"57,500","58,200","57,400","57,500",-500,-0.8600,5
4,2022-07-15,005930,"58,400","60,000","58,100","60,000","2,500",4.3500,2,"18,685,583",...,"358,186,953,000,000","5,969,782,550",00,"58,400","60,000","58,100","60,000","2,500",4.3500,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2023-07-05,005930,"73,000","73,300","71,900","72,000","-1,000",-1.3700,5,"12,310,610",...,"429,824,343,600,000","5,969,782,550",00,"73,000","73,300","71,900","72,000","-1,000",-1.3700,5
245,2023-07-06,005930,"71,900","72,400","71,500","71,600",-400,-0.5600,5,"14,777,667",...,"427,436,430,580,000","5,969,782,550",00,"71,900","72,400","71,500","71,600",-400,-0.5600,5
246,2023-07-07,005930,"71,100","71,400","69,800","69,900","-1,700",-2.3700,5,"17,308,877",...,"417,287,800,245,000","5,969,782,550",00,"71,100","71,400","69,800","69,900","-1,700",-2.3700,5
247,2023-07-10,005930,"70,000","70,400","69,200","69,500",-400,-0.5700,5,"11,713,926",...,"414,899,887,225,000","5,969,782,550",00,"70,000","70,400","69,200","69,500",-400,-0.5700,5
248,2023-07-11,005930,"70,200","71,400","70,100","71,400","1,900",2.7300,2,"10,276,312",...,"426,242,474,070,000","5,969,782,550",00,"70,200","71,400","70,100","71,400","1,900",2.7300,2

## 3.5 일중 주가정보

8. `intra_stock()` 함수를 사용하면 함수를 호출하는 당일에 한하여 10초 또는 1분 간격이 일중정보를 제공합니다.

   간격은 `interval` 인수의 값으로 설정하며 `"10S"`는 10초, `"10S"`는 1분 간격입니다.
   `interval` 인수의 값을 생략하면 1분으로 가정합니다.

   10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 누락이 있을 수 있습니다.

In [7]:
kq.intra_stock("005930")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
1,2023-07-11 09:00:00,2023-07-11,09:00:00,005930,"70,200","70,400","70,100","70,300","483,468","33,961,005,000","483,468","33,961,005,000",800,1.1500,2
2,2023-07-11 09:01:00,2023-07-11,09:01:00,005930,"70,300","70,300","70,200","70,200","138,371","9,726,937,000","621,839","43,687,942,000",700,1.0100,2
3,2023-07-11 09:02:00,2023-07-11,09:02:00,005930,"70,200","70,300","70,100","70,100","123,567","8,675,468,600","745,406","52,363,410,600",600,0.8600,2
4,2023-07-11 09:03:00,2023-07-11,09:03:00,005930,"70,100","70,200","70,100","70,100","11,719","821,949,600","757,125","53,185,360,200",600,0.8600,2
5,2023-07-11 09:04:00,2023-07-11,09:04:00,005930,"70,100","70,200","70,100","70,100","11,849","830,812,200","768,974","54,016,172,400",600,0.8600,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023-07-11 14:58:00,2023-07-11,14:58:00,005930,"71,300","71,400","71,300","71,300","12,630","901,475,000","10,222,593","724,019,227,200","1,800",2.5900,2
360,2023-07-11 14:59:00,2023-07-11,14:59:00,005930,"71,400","71,400","71,300","71,300","14,739","1,052,021,900","10,237,332","725,071,249,100","1,800",2.5900,2
361,2023-07-11 15:00:00,2023-07-11,15:00:00,005930,"71,300","71,400","71,300","71,400","19,609","1,398,927,100","10,256,941","726,470,176,200","1,900",2.7300,2
362,2023-07-11 15:01:00,2023-07-11,15:01:00,005930,"71,400","71,400","71,300","71,400","15,740","1,123,447,500","10,272,681","727,593,623,700","1,900",2.7300,2
363,2023-07-11 15:02:00,2023-07-11,15:02:00,005930,"71,300","71,400","71,300","71,400","3,543","252,922,500","10,276,224","727,846,546,200","1,900",2.7300,2

In [8]:
kq.intra_stock("005930", "10S")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-07-11 09:00:00,2023-07-11,09:00:00,005930,"69,500","69,500","69,500","69,500",0,0,0,0,0,0.0000,0
1,2023-07-11 09:00:30,2023-07-11,09:00:30,005930,"70,200","70,300","70,100","70,200","262,543","18,431,422,800","262,543","18,431,422,800",700,1.0100,2
2,2023-07-11 09:00:40,2023-07-11,09:00:40,005930,"70,300","70,400","70,200","70,300","110,954","7,798,958,400","373,497","26,230,381,200",800,1.1500,2
3,2023-07-11 09:00:50,2023-07-11,09:00:50,005930,"70,300","70,300","70,200","70,300","14,088","990,202,800","387,585","27,220,584,000",800,1.1500,2
4,2023-07-11 09:01:00,2023-07-11,09:01:00,005930,"70,300","70,400","70,200","70,300","95,883","6,740,421,000","483,468","33,961,005,000",800,1.1500,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"2,167",2023-07-11 15:01:30,2023-07-11,15:01:30,005930,"71,300","71,400","71,300","71,300","3,683","262,945,700","10,265,539","727,083,967,700","1,800",2.5900,2
"2,168",2023-07-11 15:01:40,2023-07-11,15:01:40,005930,"71,300","71,400","71,300","71,300","1,394","99,487,100","10,266,933","727,183,454,800","1,800",2.5900,2
"2,169",2023-07-11 15:01:50,2023-07-11,15:01:50,005930,"71,300","71,400","71,300","71,400","2,812","200,596,700","10,269,745","727,384,051,500","1,900",2.7300,2
"2,170",2023-07-11 15:02:00,2023-07-11,15:02:00,005930,"71,400","71,400","71,300","71,400","2,936","209,572,200","10,272,681","727,593,623,700","1,900",2.7300,2
"2,171",2023-07-11 15:02:10,2023-07-11,15:02:10,005930,"71,300","71,400","71,300","71,400","3,543","252,922,500","10,276,224","727,846,546,200","1,900",2.7300,2