# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 파이썬 실행환경

1. 파이썬을 실행합니다. python, IPython, 주피터랩(JupyterLab) 등 어떠한 파이썬 실행환경을 사용해도 무관합니다.

   본 튜토리얼에서는 주피터랩을 사용하는 것을 가정하였습니다. 
   주피터랩의 설치 및 실행에 대해서는 해당 웹사이트([https://jupyter.org/](https://jupyter.org/){target="_blank})를 참조해 주세요.

## 3.2 `kquant` 패키지 임포트

2. `kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

In [2]:
#| echo: false
import pandas as pd
pd.set_option("display.max_columns", 10)

## 3.3 주식 ISIN 코드와 단축코드

3. 주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

   국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

   `kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.
   
   `symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [3]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,749",KYG2114A1094,900120,씨케이에이치,CKH,FS,0,코스닥
"3,750",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,751",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,752",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,753",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

4. 종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [4]:
kq.symbol_search_stock("한국").head(5)

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,KR7000240002,000240,한국앤컴퍼니,HANKOOK & COMPANY,ST,0,유가증권
1,KR7000970004,000970,한국주철관,KorCastIronPipe,ST,0,유가증권
2,KR7002200004,002200,한국수출포장,KorExptPkgInd,ST,0,유가증권
3,KR7002960003,002960,한국쉘석유,HankookShellOil,ST,0,유가증권
4,KR7003350006,003350,한국화장품제조,HKCManufacture,ST,0,유가증권

## 3.4 일간 주가정보

5. 원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
6. 일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
   첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

   두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

   세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [5]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,...,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200",...,200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500",...,-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600",...,"2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600",...,400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900",...,800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500",...,800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000",...,200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000",...,100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400",...,-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700",...,-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

7. `end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 
   예를 들어 2023년 7월 18일 장종료후  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [6]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,...,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200",...,200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500",...,-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600",...,"2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600",...,400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900",...,800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...
150,2023-08-09,005930,"68,000","69,600","67,900",...,"1,300",1.9200,2,"411,318,017,695,000","5,969,782,550"
151,2023-08-10,005930,"68,300","68,500","67,800",...,-900,-1.3100,5,"405,945,213,400,000","5,969,782,550"
152,2023-08-11,005930,"68,400","68,800","67,500",...,-500,-0.7400,5,"402,960,322,125,000","5,969,782,550"
153,2023-08-14,005930,"67,500","67,900","66,900",...,-200,-0.3000,5,"401,766,365,615,000","5,969,782,550"
154,2023-08-16,005930,"66,700","67,100","66,300",...,-500,-0.7400,5,"398,781,474,340,000","5,969,782,550"

8. `start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. 
   `start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [7]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,...,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-08-16,005930,"60,500","61,600","60,300",...,800,1.3300,2,"364,156,735,550,000","5,969,782,550"
1,2022-08-17,005930,"61,100","61,200","60,300",...,-600,-0.9800,5,"360,574,866,020,000","5,969,782,550"
2,2022-08-18,005930,"60,300","61,900","60,000",...,"1,100",1.8200,2,"367,141,626,825,000","5,969,782,550"
3,2022-08-19,005930,"61,400","61,600","60,600",...,-600,-0.9800,5,"363,559,757,295,000","5,969,782,550"
4,2022-08-22,005930,"60,300","60,400","59,800",...,-900,-1.4800,5,"358,186,953,000,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...
244,2023-08-09,005930,"68,000","69,600","67,900",...,"1,300",1.9200,2,"411,318,017,695,000","5,969,782,550"
245,2023-08-10,005930,"68,300","68,500","67,800",...,-900,-1.3100,5,"405,945,213,400,000","5,969,782,550"
246,2023-08-11,005930,"68,400","68,800","67,500",...,-500,-0.7400,5,"402,960,322,125,000","5,969,782,550"
247,2023-08-14,005930,"67,500","67,900","66,900",...,-200,-0.3000,5,"401,766,365,615,000","5,969,782,550"
248,2023-08-16,005930,"66,700","67,100","66,300",...,-500,-0.7400,5,"398,781,474,340,000","5,969,782,550"

## 3.5 일중 주가정보

9. `intra_stock()` 함수를 사용하면 함수를 호출하는 당일에 한하여 10초 또는 1분 간격이 일중정보를 제공합니다.

   간격은 `interval` 인수의 값으로 설정하며 `"10S"`는 10초, `"10S"`는 1분 간격입니다.
   `interval` 인수의 값을 생략하면 1분으로 가정합니다.

   10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 누락이 있을 수 있습니다.

In [8]:
# 1분 간격 일중정보
kq.intra_stock("005930")

,DATETIME,DATE,TIME,SYMBOL,OPEN,...,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
1,2023-08-16 09:00:00,2023-08-16,09:00:00,005930,"66,700",...,"763,795","50,938,025,800",-600,-0.8900,5
2,2023-08-16 09:01:00,2023-08-16,09:01:00,005930,"66,600",...,"864,251","57,644,549,300",-400,-0.5900,5
3,2023-08-16 09:02:00,2023-08-16,09:02:00,005930,"66,900",...,"905,849","60,425,635,900",-400,-0.5900,5
4,2023-08-16 09:03:00,2023-08-16,09:03:00,005930,"66,800",...,"1,004,213","67,004,566,600",-400,-0.5900,5
5,2023-08-16 09:04:00,2023-08-16,09:04:00,005930,"66,900",...,"1,122,619","74,938,050,300",-200,-0.3000,5
...,...,...,...,...,...,...,...,...,...,...,...
145,2023-08-16 11:24:00,2023-08-16,11:24:00,005930,"66,800",...,"6,956,433","463,874,832,700",-500,-0.7400,5
146,2023-08-16 11:25:00,2023-08-16,11:25:00,005930,"66,800",...,"6,964,370","464,404,792,800",-500,-0.7400,5
147,2023-08-16 11:26:00,2023-08-16,11:26:00,005930,"66,700",...,"6,974,047","465,050,607,300",-500,-0.7400,5
148,2023-08-16 11:27:00,2023-08-16,11:27:00,005930,"66,800",...,"6,978,303","465,334,764,300",-500,-0.7400,5
149,2023-08-16 11:28:00,2023-08-16,11:28:00,005930,"66,800",...,"6,981,188","465,527,335,700",-500,-0.7400,5

In [9]:
# 10초 간격 일중정보
kq.intra_stock("005930", "10S")

,DATETIME,DATE,TIME,SYMBOL,OPEN,...,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-08-16 09:00:00,2023-08-16,09:00:00,005930,"67,300",...,0,0,0,0.0000,0
1,2023-08-16 09:00:30,2023-08-16,09:00:30,005930,"66,700",...,"635,102","42,363,508,500",-600,-0.8900,5
2,2023-08-16 09:00:40,2023-08-16,09:00:40,005930,"66,700",...,"674,611","44,995,054,500",-700,-1.0400,5
3,2023-08-16 09:00:50,2023-08-16,09:00:50,005930,"66,700",...,"724,750","48,334,770,400",-600,-0.8900,5
4,2023-08-16 09:01:00,2023-08-16,09:01:00,005930,"66,600",...,"763,795","50,938,025,800",-600,-0.8900,5
...,...,...,...,...,...,...,...,...,...,...,...
885,2023-08-16 11:27:50,2023-08-16,11:27:50,005930,"66,800",...,"6,977,100","465,254,412,100",-500,-0.7400,5
886,2023-08-16 11:28:00,2023-08-16,11:28:00,005930,"66,800",...,"6,978,303","465,334,764,300",-500,-0.7400,5
887,2023-08-16 11:28:10,2023-08-16,11:28:10,005930,"66,800",...,"6,979,231","465,396,698,000",-500,-0.7400,5
888,2023-08-16 11:28:20,2023-08-16,11:28:20,005930,"66,800",...,"6,980,651","465,491,484,100",-500,-0.7400,5
889,2023-08-16 11:28:30,2023-08-16,11:28:30,005930,"66,800",...,"6,981,188","465,527,335,700",-500,-0.7400,5