# 튜토리얼 3 - 주가 정보 입수

튜토리얼 2에서 CHECK-API 정보를 정상적으로 설정하였다면 본 튜토리얼에서 설명하는 대로 주가 정보를 입수할 수 있습니다.

## 3.1 `kquant` 패키지 임포트

`kquant` 패키지를 임포트 합니다. 본 튜토리얼에서는 `kq`라는 별칭(alias)을 사용합니다.

In [1]:
import kquant as kq

## 3.2 주식 ISIN 코드와 단축코드

주식 등 금융상품에 대한 정보를 입수하기 위해서는 종목코드라고 부르는 해당 상품의 코드(code) 혹은 심볼(symbol)정보를 알고 있어야 합니다. 

국내의 금융상품 코드는 공식적으로 12자리 영문자 및 숫자로 구성된 **국제증권식별번호**(ISIN: International Securities Identification Number)를 사용합니다. 예를 들어 삼성전자의 ISIN 코드는 `KR7005930003`입니다. 그러나 ISIN 코드는 12자리고 실무에서 사용하기에는 너무 길기 때문에 주식종목에 한하여 ISIN 코드 중 4번째 자리수부터 9번째 자리수까지의 6자리만을 사용하는 이른바 **"단축코드"**를 더 많이 사용합니다. 예를 들어 삼성전자의 단축코드는 `005930`입니다.

`kquant` 패키지에서는 모든 금융상품에 대한 종목코드 정보를 제공합니다. 주식의 경우 `symbol_stock()` 함수를 사용하여 모든 주식의 종목코드 정보를 받을 수 있습니다. `symbol_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/kquant/data/market/symbol/symbol_stock.html){target="_blank"}를 참조하세요.

`symbol_stock()` 함수를 포함한 대부분의  `kquant` 패키지 함수는 Pandas 데이터프레임(DataFrame) 형식으로 정보를 반환합니다. Pandas 패키지에 대해서는 해당 패키지의 웹사이트([https://pandas.pydata.org/](https://pandas.pydata.org/){target="_blank})를 참조하세요.

In [2]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,754",KYG2114A1094,900120,씨케이에이치,CKH,FS,0,코스닥
"3,755",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,756",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,757",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,758",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

종목이름으로 검색하려면 `search_symbol_stock()` 함수를 사용합니다.

In [3]:
kq.symbol_search_stock("한국").head(5)

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,KR7000240002,000240,한국앤컴퍼니,HANKOOK & COMPANY,ST,91,유가증권
1,KR7000970004,000970,한국주철관,KorCastIronPipe,ST,0,유가증권
2,KR7002200004,002200,한국수출포장,KorExptPkgInd,ST,0,유가증권
3,KR7002960003,002960,한국쉘석유,HankookShellOil,ST,0,유가증권
4,KR7003350006,003350,한국화장품제조,HKCManufacture,ST,0,유가증권

## 3.3 일간 주가정보

원하는 종목의 종목코드를 확인한 다음에는 주가 등의 시장정보를 받을 수 있습니다.
  
일간 주가정보를 받기 위해서는 `daily_stock()` 함수를 사용합니다. `daily_stock()` 함수에 대한 자세한 정보는 `kquant` 패키지 [API 참조문서](../apiref/data/market/daily/daily_stock.html){target="_blank"}를 참조하세요.
   
첫번째 `symbol` 인수로는 해당 종목의 단축코드 문자열을 입력합니다. 예를 들어 삼성전자의 일간 주가정보를 얻기 위해서는 `"005930"`을 넣어줍니다.

두번째 `start_date` 인수로는 시장정보를 받을 기간의 시작날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 1월 1일은 `"20230101"`과 같이 넣어줍니다.

세번째 `end_date` 인수로는 시장정보를 받을 기간의 종료날짜 문자열을 `YYYYMMDD` 형식으로 입력합니다. 예를 들어 2023년 6월 30일은 `"20230630"`과 같이 넣어줍니다.

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400","10,541,901","761,525,382,100",800,1.1200,2,00,"71,700","72,500","71,500","72,400",800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000","72,600","9,442,997","683,624,715,982",200,0.2800,2,00,"72,500","72,600","72,000","72,600",200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000","72,700","8,783,093","635,516,679,700",100,0.1400,2,00,"72,600","72,700","72,000","72,700",100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400","72,400","12,229,967","891,731,369,446",-300,-0.4100,5,00,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700","72,200","11,694,765","844,353,820,176",-200,-0.2800,5,00,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

`end_date` 인수를 생략하면 함수를 실행한 당일을 `end_date` 인수값으로 가정하여 실시간 최종 가격을 출력합니다. 
예를 들어 2023년 7월 18일 장종료후  `end_date` 인수를 생략하고 `daily_stock()` 함수를 실행한 결과는 다음과 같습니다.

In [5]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2023-08-17,005930,"66,300","66,800","66,000","66,700","10,778,652","716,095,782,444",-300,-0.4500,5,00,"66,300","66,800","66,000","66,700",-300,-0.4500,5,"398,184,496,085,000","5,969,782,550"
156,2023-08-18,005930,"66,000","66,700","65,800","66,300","11,745,006","778,550,834,100",-400,-0.6000,5,00,"66,000","66,700","65,800","66,300",-400,-0.6000,5,"395,796,583,065,000","5,969,782,550"
157,2023-08-21,005930,"66,600","67,100","66,300","66,600","9,720,067","647,498,994,572",300,0.4500,2,00,"66,600","67,100","66,300","66,600",300,0.4500,2,"397,587,517,830,000","5,969,782,550"
158,2023-08-22,005930,"67,200","67,700","66,300","66,600","10,500,242","702,152,276,000",0,0.0000,3,00,"67,200","67,700","66,300","66,600",0,0.0000,3,"397,587,517,830,000","5,969,782,550"
159,2023-08-23,005930,"66,700","67,100","66,400","67,100","9,505,698","635,298,241,800",500,0.7500,2,00,"66,700","67,100","66,400","67,100",500,0.7500,2,"400,572,409,105,000","5,969,782,550"

`start_date` 인수를 생략하면 `end_date` 인수값으로 지정된 날짜의 1년 전을 가정하여 정보를 출력합니다. 
`start_date` 인수와 `end_date` 인수를 모두 생략하면 함수를 호출한 날로부터 1년전부터 당일까지의 정보를 출력합니다.

In [6]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-08-23,005930,"59,000","59,600","59,000","59,100","9,041,629","535,657,353,300",-900,-1.5000,5,00,"59,000","59,600","59,000","59,100",-900,-1.5000,5,"352,814,148,705,000","5,969,782,550"
1,2022-08-24,005930,"59,200","59,500","59,000","59,000","8,888,486","525,406,965,200",-100,-0.1700,5,00,"59,200","59,500","59,000","59,000",-100,-0.1700,5,"352,217,170,450,000","5,969,782,550"
2,2022-08-25,005930,"59,200","59,700","59,000","59,700","5,767,902","342,780,937,200",700,1.1900,2,00,"59,200","59,700","59,000","59,700",700,1.1900,2,"356,396,018,235,000","5,969,782,550"
3,2022-08-26,005930,"60,300","60,900","59,900","60,000","9,499,995","573,040,309,950",300,0.5000,2,00,"60,300","60,900","59,900","60,000",300,0.5000,2,"358,186,953,000,000","5,969,782,550"
4,2022-08-29,005930,"58,700","58,900","58,600","58,600","9,841,329","577,684,200,900","-1,400",-2.3300,5,00,"58,700","58,900","58,600","58,600","-1,400",-2.3300,5,"349,829,257,430,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2023-08-17,005930,"66,300","66,800","66,000","66,700","10,778,652","716,095,782,444",-300,-0.4500,5,00,"66,300","66,800","66,000","66,700",-300,-0.4500,5,"398,184,496,085,000","5,969,782,550"
245,2023-08-18,005930,"66,000","66,700","65,800","66,300","11,745,006","778,550,834,100",-400,-0.6000,5,00,"66,000","66,700","65,800","66,300",-400,-0.6000,5,"395,796,583,065,000","5,969,782,550"
246,2023-08-21,005930,"66,600","67,100","66,300","66,600","9,720,067","647,498,994,572",300,0.4500,2,00,"66,600","67,100","66,300","66,600",300,0.4500,2,"397,587,517,830,000","5,969,782,550"
247,2023-08-22,005930,"67,200","67,700","66,300","66,600","10,500,242","702,152,276,000",0,0.0000,3,00,"67,200","67,700","66,300","66,600",0,0.0000,3,"397,587,517,830,000","5,969,782,550"
248,2023-08-23,005930,"66,700","67,100","66,400","67,100","9,505,698","635,298,241,800",500,0.7500,2,00,"66,700","67,100","66,400","67,100",500,0.7500,2,"400,572,409,105,000","5,969,782,550"

## 3.4 일중 주가정보

`intra_stock()` 함수는 호출 당일의 10초 또는 1분 간격 일중정보를 제공합니다.

시간 간격은 `interval` 인수의 값으로 설정하며 `"10S"`는 10초, `"10S"`는 1분 간격입니다.
`interval` 인수의 값을 생략하면 1분으로 가정합니다.

10초 정보의 경우 거래소 상황에 따라 원 데이터 자체에 일부 데이터 누락이 있을 수 있습니다.

In [7]:
# 1분 간격 일중정보
kq.intra_stock("005930")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
1,2023-08-23 09:00:00,2023-08-23,09:00:00,005930,"66,700.0000","66,700.0000","66,600.0000","66,600.0000","411,681","27,458,322,100","411,681.0000","27,458,322,100.0000",0.0000,0.0000,3.0000
2,2023-08-23 09:01:00,2023-08-23,09:01:00,005930,"66,600.0000","66,700.0000","66,400.0000","66,500.0000","173,118","11,514,539,000","584,799.0000","38,972,861,100.0000",-100.0000,-0.1500,5.0000
3,2023-08-23 09:02:00,2023-08-23,09:02:00,005930,"66,500.0000","66,600.0000","66,400.0000","66,600.0000","30,302","2,015,709,300","615,101.0000","40,988,570,400.0000",0.0000,0.0000,3.0000
4,2023-08-23 09:03:00,2023-08-23,09:03:00,005930,"66,500.0000","66,600.0000","66,400.0000","66,500.0000","102,871","6,841,050,200","717,972.0000","47,829,620,600.0000",-100.0000,-0.1500,5.0000
5,2023-08-23 09:04:00,2023-08-23,09:04:00,005930,"66,500.0000","66,500.0000","66,400.0000","66,400.0000","20,594","1,367,726,700","738,566.0000","49,197,347,300.0000",-200.0000,-0.3000,5.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,2023-08-23 15:25:00,NaT,15:25:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
387,2023-08-23 15:26:00,NaT,15:26:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
388,2023-08-23 15:27:00,NaT,15:27:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
389,2023-08-23 15:28:00,NaT,15:28:00,<NA>,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
390,2023-08-23 15:29:00,2023-08-23,15:29:00,005930,"67,100.0000","67,100.0000","67,100.0000","67,100.0000","781,278","52,423,753,800","9,482,079.0000","633,714,415,100.0000",500.0000,0.7500,2.0000

In [8]:
# 10초 간격 일중정보
kq.intra_stock("005930", "10S")

,DATETIME,DATE,TIME,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,VOLUME_ACC,AMOUNT_ACC,CHG,CHG_PCT,CHG_TYPE
0,2023-08-23 09:00:00,2023-08-23,09:00:00,005930,"66,600","66,600","66,600","66,600",0,0,0,0,0,0.0000,0
1,2023-08-23 09:00:30,2023-08-23,09:00:30,005930,"66,700","66,700","66,600","66,600","317,520","21,178,294,200","317,520","21,178,294,200",0,0.0000,3
2,2023-08-23 09:00:40,2023-08-23,09:00:40,005930,"66,600","66,700","66,600","66,700","90,618","6,043,972,600","408,138","27,222,266,800",100,0.1500,2
3,2023-08-23 09:00:50,2023-08-23,09:00:50,005930,"66,700","66,700","66,600","66,700","2,919","194,442,100","411,057","27,416,708,900",100,0.1500,2
4,2023-08-23 09:01:00,2023-08-23,09:01:00,005930,"66,600","66,700","66,600","66,600",624,"41,613,200","411,681","27,458,322,100",0,0.0000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"2,275",2023-08-23 15:19:30,2023-08-23,15:19:30,005930,"67,100","67,100","67,000","67,100","9,841","660,106,100","8,685,348","580,254,203,600",500,0.7500,2
"2,276",2023-08-23 15:19:40,2023-08-23,15:19:40,005930,"67,100","67,100","67,000","67,100","5,927","397,618,200","8,691,275","580,651,821,800",500,0.7500,2
"2,277",2023-08-23 15:19:50,2023-08-23,15:19:50,005930,"67,100","67,100","67,000","67,100","6,021","403,820,400","8,697,296","581,055,642,200",500,0.7500,2
"2,278",2023-08-23 15:20:00,2023-08-23,15:20:00,005930,"67,000","67,100","67,000","67,100","3,505","235,019,100","8,700,801","581,290,661,300",500,0.7500,2
"2,279",2023-08-23 15:30:00,2023-08-23,15:30:00,005930,"67,100","67,100","67,100","67,100","781,278","52,423,753,800","9,482,079","633,714,415,100",500,0.7500,2

## 3.5 전종목 주가정보 동시 조회

`rank_stocks` 함수는 전 종목의 주가정보를 동시에 조회하는 함수입니다.

In [9]:
kq.rank_stocks()

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,005930,"66,700","67,100","66,400","67,100","9,505,698","635,298,241,800","66,600",0.7508,2,"400,572,409,105,000",삼성전자,SamsungElec,ST,유가증권
1,373220,"535,000","538,000","525,000","525,000","190,939","100,975,816,000","539,000",-2.5974,5,"122,850,000,000,000",LG에너지솔루션,LG Energy Solution,ST,유가증권
2,000660,"116,200","116,800","114,100","116,000","2,466,275","284,271,355,200","116,500",-0.4292,5,"84,448,274,340,000",SK하이닉스,SK hynix,ST,유가증권
3,207940,"766,000","777,000","761,000","763,000","32,353","24,746,642,000","773,000",-1.2937,5,"54,305,762,000,000",삼성바이오로직스,SAMSUNG BIOLOGICS,ST,유가증권
4,005490,"560,000","561,000","543,000","551,000","743,852","409,318,229,000","560,000",-1.6071,5,"46,598,747,730,000",POSCO홀딩스,POSCO Holdings,ST,유가증권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,754",580024,"1,870","1,875","1,835","1,835",808,"1,488,830","1,905",-3.6745,5,"1,835,000,000",KB 레버리지 KRX BBIG K-뉴딜 ETN,KB Leverage KRX BBIG K-Newdeal ETN,EN,유가증권
"3,755",287330,"5,900","5,930","5,860","5,920",170,"1,006,165","5,855",1.1102,2,"1,302,400,000",KBSTAR 200생활소비재,KBSTAR 200 Con&Sta,EF,유가증권
"3,756",315480,"10,570","10,570","10,490","10,525",111,"1,166,015","10,545",-0.1897,5,"1,263,000,000",KBSTAR 200커뮤니케이션서비스,KBSTAR 200CS,EF,유가증권
"3,757",287320,"11,920","11,950","11,870","11,890",21,"249,760","11,880",0.0842,2,"1,189,000,000",KBSTAR 200산업재,KBSTAR 200 Industrials,EF,유가증권
"3,758",301440,"10,210","10,210","10,210","10,210",20,"204,200","10,255",-0.4388,5,"1,021,000,000",ARIRANG 코스피중형주,ARIRANG KOSPI MidCap,EF,유가증권

`rank_stocks` 함수는 기본적으로 시가총액 기준으로 정렬한 결과를 출력합니다. `order_key` 인수를 사용하여 다양한 기준으로 정렬할 수 있습니다.

In [10]:
kq.rank_stocks(order_key="VOLUME")

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,277410,"3,735","4,330","3,315","3,540","135,901,990","515,605,617,090","3,480",1.7241,2,"128,068,665,060",인산가,INSAN,ST,코스닥
1,214680,"4,265","5,400","4,175","5,200","100,488,568","497,758,740,585","4,160",25.0000,2,"376,093,572,400",디알텍,DRTECH,ST,코스닥
2,252670,"2,715","2,725","2,685","2,700","91,329,637","246,927,559,755","2,690",0.3717,2,"1,729,350,000,000",KODEX 200선물인버스2X,KODEX 200 Futures Inverse 2X,EF,유가증권
3,251340,"3,580","3,665","3,580","3,640","56,948,908","206,680,929,420","3,565",2.1038,2,"1,082,172,000,000",KODEX 코스닥150선물인버스,KODEX KOSDAQ150 INVERSE,EF,유가증권
4,267320,"4,985","6,150","4,905","5,130","54,133,700","298,626,087,210","4,890",4.9080,2,"206,915,189,850",나인테크,Naintech,ST,코스닥
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,754",610014,0,0,0,"9,485",0,0,"9,355",1.3896,7,"9,355,000,000",메리츠 은 선물 ETN(H),Meritz Silver Futures ETN(H),EN,유가증권
"3,755",610017,0,0,0,"15,590",0,0,"16,015",-2.6538,9,"16,015,000,000",메리츠 인버스 2X 은 선물 ETN(H),Meritz Inverse 2X Silver Futures ETN(H),EN,유가증권
"3,756",580049,0,0,0,"8,520",0,0,"8,645",-1.4459,9,"17,290,000,000",KB CSI 500 ETN,KB CSI 500 ETN,EN,유가증권
"3,757",610030,0,0,0,"14,510",0,0,"14,250",1.8246,7,"14,250,000,000",메리츠 S&P 유럽탄소배출권 선물 ETN(H),Meritz S&P EUA Futures ETN(H),EN,유가증권
"3,758",437780,0,0,0,"2,180",0,0,"2,180",0.0000,0,"10,965,400,000",엔에이치스팩24호,NH SPAC 24,ST,코스닥